# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/
.eggs/

# Virtual environments
venv/
.env


# VS Code or PyCharm
.vscode/
.idea/

# Logs and temp
*.log
*.tmp

# OS files
.DS_Store
Thumbs.db


best_multimodal_model.pth
